/*@warn "The compass/css3/shared module has been deprecated.
You can silence this warning by importing compass/css3/deprecated-support instead.
Please be aware that module will be removed in the next release.";

@import "deprecated-support";*/
/*@warn "The compass/css3/shared module has been deprecated.
You can silence this warning by importing compass/css3/deprecated-support instead.
Please be aware that module will be removed in the next release.";

@import "deprecated-support";*/
/*@warn "The compass/css3/shared module has been deprecated.
You can silence this warning by importing compass/css3/deprecated-support instead.
Please be aware that module will be removed in the next release.";

@import "deprecated-support";*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { font-family: CryptoPuvf, "PTSans", Arial, sans-serif; font-weight: normal; font-size: 13px; line-height: 1.33; }
body a { text-decoration: none; }
body strong { font-weight: bold; }
body em { font-weight: italic; }

.out { width: 980px; margin: 0 auto; *zoom: 1; }
.out:after { content: " "; display: table; clear: both; }

.header { height: 135px; position: relative; color: #5b5b5b; }
.header:after { content: ""; position: absolute; bottom: 0px; left: 0; right: 0; height: 3px; background-image: url(../img/h_zub.png); z-index: 7; }

.header__logo { position: relative; float: left; *zoom: 1; }
.header__logo:after { content: " "; display: table; clear: both; }

.logo, .header__logo { position: relative; float: left; width: 288px; height: 135px; margin-right: 125px; text-align: center; text-indent: -2000px; }
.logo i, .header__logo i { background-image: url("../img/logo.png"); height: 64px; width: 288px; display: block; }

.language { position: absolute; width: 80px; height: 20px; top: 88px; left: 78px; }
.language__ru, .language__en { float: left; margin-right: 6px; width: 16px; height: 11px; background-image: url("../img/flag_ru.png"); border: none; }
.language__en { background-image: url("../img/flag_en.png"); }
.language > .active { cursor: default; opacity: 0.3; }

.re { -webkit-box-shadow: inset 9px 9px 9px 9px black; box-shadow: inset 9px 9px 9px 9px black; }

.header__contact { position: relative; float: left; margin: 40px 100px 0 0; width: 215px; color: #5b5b5b; }
.header__contact i { position: absolute; top: 3px; left: -20px; width: 12px; height: 33px; background-image: url("../img/h__phone.png"); }
.header__contact-tel { display: inline-block; font-size: 18px; font-weight: bold; color: #5b5b5b; }
.header__contact-skype { position: relative; display: inline-block; color: #5b5b5b; }
.header__contact-skype:before { content: ""; position: absolute; top: 2px; left: -20px; width: 14px; height: 12px; background-image: url("../img/skype.png"); }

.header__user { margin-top: 40px; width: 185px; float: left; line-height: 20px; }
.header__user-name { font-size: 13px; text-align: justify; color: #5b5b5b; font-weight: 300; }
.header__user-item { position: relative; margin-left: 33px; color: #5b5b5b; border-bottom: 1px solid #5b5b5b; }
.header__user-item:hover { border-bottom: 1px solid transparent; }
.header__user-item > .cab, .header__user-item > .mes { position: absolute; top: -2px; left: -32px; width: 22px; height: 16px; background-image: url("../img/h__cabin.png"); }
.header__user-item > .mes { height: 21px; background-image: url("../img/h__newmassage.png"); text-align: center; }

.header__exit { float: right; width: 60px; color: #5b5b5b; margin-top: 40px; line-height: 20px; text-align: center; font-size: 15px; font-weight: bold; border: 1px solid #5b5b5b; -webkit-border-radius: 3px; border-radius: 3px; }

.footer { position: relative; height: 87px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background-image: url("../img/f_bg.png"); *zoom: 1; }
.footer:after { content: " "; display: table; clear: both; }
.footer:before { content: ""; position: absolute; height: 4px; top: 0; left: 0; right: 0; background-image: url("../img/f_zub.png"); }

.footer__wrap { width: 785px; float: left; line-height: 85px; }

.footer__item { display: inline-block; margin-right: 6px; }
.footer__item:last-child { margin: 0; }

.footer__link { color: #5b5b5b; font-size: 13px; border-bottom: 1px solid #5b5b5b; }
.footer__link:hover { border-bottom: none; }

.footer__copy { line-height: 85px; width: 160px; float: right; color: #7e898e; }
.footer__copy strong { color: #75922e; }

.main { background-image: url("../img/main_bg.png"); *zoom: 1; }
.main > .out { padding: 30px; }
.main:after { content: " "; display: table; clear: both; }

.menu { position: relative; background-color: #abc765; border-bottom: 8px solid #92aa5a; *zoom: 1; }
.menu:after { content: " "; display: table; clear: both; }
.menu .menu__line { position: absolute; top: 2px; left: 0; right: 0; height: 1px; background-color: #bed783; z-index: 99; }
.menu__item { position: relative; display: inline-block; }
.menu__item:first-child { width: 59px; height: 30px; }
.menu__item:nth-child(2) { margin-right: 20px; }
.menu__link, .submenu__link { display: block; font-size: 17px; color: white; line-height: 49px; padding: 0 21px; }
.menu__link:hover, .submenu__link:hover { background-color: #92b244; }
.menu__link:hover:after, .submenu__link:hover:after { content: ""; position: absolute; top: 1px; left: 0; right: 0; height: 1px; background-color: #92aa5a; }
.menu__link .home, .submenu__link .home { position: absolute; top: -17px; left: 18px; width: 25px; height: 19px; background-image: url("../img/home.png"); }
.menu__link .triagle, .submenu__link .triagle { position: absolute; top: 21px; right: 20px; width: 11px; height: 10px; background-image: url("../img/menu__triagle.png"); }

.pr20 { padding-right: 40px; }

.submenu { display: none; position: absolute; top: 49px; border-bottom: 9px solid #829d42; z-index: 2; }
.submenu__link { width: 254px; position: relative; background-color: #92b244; z-index: 3; }
.submenu__link:hover { background-color: #a8c465; }
.submenu__link:before, .submenu__link:after { content: ""; position: absolute; top: 0px; left: 0; right: 0; height: 1px; background-color: #92aa5a; }
.submenu__link:after { top: 1px; background-color: #a8c26b; }

.menu__item:hover { background-color: #92b244; }
.menu__item:hover > .submenu { display: block; }

.slider { width: 980px; height: 308px; margin-bottom: 50px; overflow: hidden; -moz-box-shadow: 0px 44px 100px -60px black; -webkit-box-shadow: 0px 44px 100px -60px black; box-shadow: 0px 44px 100px -60px black; }
.slider__spin { float: left; }
.slider__spin img { width: 685px; height: 308px; }

.slider__menu { float: right; width: 295px; background-color: #7fc0eb; *zoom: 1; }
.slider__menu:after { content: " "; display: table; clear: both; }

.slider__menu-link { position: relative; display: block; height: 77px; }
.slider__menu-link:hover { background-color: #53aae4; }
.slider__menu-link:before, .slider__menu-link:after { content: ""; position: absolute; top: 0; left: 0; right: 0; height: 1px; background-color: #9bd3f6; }
.slider__menu-link:after { top: 76px; background-color: #6aa9d9; }

.slider__menu-link_right { float: right; width: 194px; color: white; }

.slider__menu-link_left { position: relative; width: 101px; height: 77px; float: left; }
.slider__menu-link_left i { position: absolute; top: 24px; left: 36px; }
.slider__menu-link_left .kasko { width: 26px; height: 29px; background-image: url("../img/kasko.png"); }
.slider__menu-link_left .libre { width: 30px; height: 28px; background-image: url("../img/libre.png"); }
.slider__menu-link_left .calc { width: 24px; height: 28px; background-image: url("../img/calc.png"); }
.slider__menu-link_left .cred { width: 28px; height: 29px; background-image: url("../img/cred.png"); }

.slider__menu-h3 { font-size: 17px; font-weight: bold; text-transform: uppercase; margin-top: 10px; line-height: 30px; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.31); }

.slider__menu-item { font-size: 15px; font-style: italic; line-height: 15px; }

.baner { width: 930px; height: 110px; margin-left: 30px; padding: 12px 0 12px 15px; color: #75922e; background-color: white; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; *zoom: 1; }
.baner:after { content: " "; display: table; clear: both; }

.baner__company { position: relative; float: left; width: 160px; margin: 0 30px 0 40px; }
.baner__company:last-child { margin-right: 0; }
.baner__company img { position: absolute; top: 0px; left: -40px; border: 1px solid #d1d3d4; }

.baner__title { margin-bottom: 10px; }

.baner__h4 { position: relative; width: 155px; font-size: 15px; line-height: 15px; display: inline; color: #75922e; border-bottom: 1px solid #75922e; }

.baner__propose { width: 165px; height: 45px; white-space: nowrap; font-size: 13px; line-height: 15px; color: #75922e; overflow: hidden; -ms-text-overflow: clip; text-overflow: clip; }
.baner__propose p { display: inline; border-bottom: 1px solid #75922e; overflow: hidden; white-space: nowrap; -ms-text-overflow: clip; text-overflow: clip; }
