body
	font:
		family: 'PTSans', Arial,sans-serif
		weight: normal
		size: 13px
	line-height: 1.33
	min-width: 1049px
	a
		text-decoration: none
	strong
		font-weight: bold
	em
		font-weight: italic
.clear
	clear: both
	height: 0
.out
	width: 980px
	margin: 0 auto
	// padding: 0 20px
	+clr
.header
	height: 135px
	position: relative
	color: #5B5B5B
	&:after
		content: ""
		position: absolute
		bottom: -1px
		left: 0
		right: 0
		height: 3px
		background-image: url(../img/h_zub.png)
		z-index: 7
.header__logo
	@extend .logo
	position: relative
	float: left
	+clr
.logo
	position: relative
	float: left
	width: 288px
	height: 135px
	margin-right: 144px
	text-align: center
	text-indent: -2000px
	i
		background-image: url("../img/logo.png")
		height: 64px
		width: 288px
		display: block
.language
	position: absolute
	width: 80px
	height: 20px
	top: 88px
	left: 78px
	&__ru,
	&__en
		float: left
		margin-right: 6px
		width: 16px
		height: 11px
		background-image: url("../img/flag_ru.png")
		border: none
	&__en
		background-image: url("../img/flag_en.png")
	> .is-active
		cursor: default
		opacity: .3
.re
	-webkit-box-shadow: inset 9px 9px 9px 9px #000
	box-shadow: inset 9px 9px 9px 9px #000
.header__contact
	position: relative
	float: left
	line-height: 19px
	margin: 38px 84px 0 0
	width: 215px
	color: #5B5B5B
	i
		position: absolute
		top: 3px
		left: -20px
		width: 12px
		height: 33px
		background-image: url("../img/h__phone.png")
	&-tel
		display: inline-block
		font-size: 18px
		font-weight: bold
		color: #5B5B5B
	&-skype
		position: relative
		display: inline-block
		color: #5B5B5B
		&:before
			content: ""
			position: absolute
			top: 2px
			left: -20px
			width: 14px
			height: 12px
			background-image: url("../img/skype.png")
.header__user
	margin-top: 40px
	width: 185px
	float: left
	line-height: 19px
	&-name
		font-size: 13px  //15px
		text-align: justify
		color: #5b5b5b
		font-weight: 300
	&-item
		position: relative
		margin-left: 30px
		color: #5b5b5b
		border-bottom: 1px solid #5b5b5b
		&:hover
			border-bottom: 1px solid transparent
		> .cab,
		> .mes
			position: absolute
			top: -2px
			left: -32px
			width: 22px
			height: 16px
			background-image: url("../img/h__cabin.png")
		> .mes
			height: 21px
			background-image: url("../img/h__newmassage.png")
			text-align: center
.header__exit
	float: right
	width: 60px
	color: #5B5B5B
	margin-top: 40px
	line-height: 15px
	text-align: center
	font-size: 12px
	padding-top: 5px
	font-weight: bold
	border: 1px solid #5b5b5b
	-webkit-border-radius: 3px
	border-radius: 3px


// FOTER
.footer
	position: relative
	height: 87px
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	background-image: url("../img/f_bg.png")
	+clr
	&:before
		content: ""
		position: absolute
		height: 4px
		top: 0
		left: 0
		right: 0
		background-image: url("../img/f_zub.png")
.footer__wrap
	width: 800px
	float: left
	line-height: 85px
.footer__item
	display: inline-block
	margin-right: 6px
	&:last-child
		margin: 0
.footer__link
	color: #5b5b5b
	font-size: 13px
	border-bottom: 1px solid #5b5b5b
	&:hover
		border-bottom: none
.footer__copy
	line-height: 85px
	width: 163px
	float: right
	color: #7E898E
	strong
		color: #75922e