// ##########
// l-container
.l-container
	+clr
.event,
.propose,
.work
	float: left
	width: 296px
	font-family: PTSans, sans-serif
.propose
	margin: 0 45px
.l-container__title
	font-size: 20px
	color: #B2B7B8
	margin-bottom: 20px
	text-shadow: 1px 1px 1px #fff
	text-transform: uppercase
.l-container__wrap
	display: block
	padding-bottom: 20px
	&:nth-child(6)
		border-bottom: 3px dashed #fff
.event__date
	font-size: 13px
	line-height: 20px
	color: #99A0A1
.event__title
	display: inline
	font-size: 17px
	line-height: 18px
	border-bottom: 1px solid #000
	color: #000
.event__item
	position: relative
	font-size: 15px
	line-height: 20px
	color: #474747
	height: 60px
	margin-top: 10px
	overflow: hidden
	white-space: nowrap
	-ms-text-overflow: ellipsis
	text-overflow: ellipsis

.event__all
	display: inline-block
	font-size: 17px
	border-bottom: 1px solid #75922e
	color: #75922e
	margin-top: 12px


// PROPOSE

.propose__title
	@extend .event__title
	color: #EC2D13
	border-bottom: 1px solid #EC2D13
.propose__item
	@extend .event__item
.propose__all
	@extend .event__all
	color: #EC2D13
	border-bottom: 1px solid #EC2D13

	// #####################3
	// WORK

.work__consultant
	position: relative
	color: #FFF
	width: 245px
	height: 132px
	padding: 18px 24px
	background-color: #9EBF4E
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	border-bottom: 9px solid #829d42
	&:after
		content: ""
		position: absolute
		top: 0
		right: -50px
		+arr(50,123,#9EBF4E,r)
	&:before
		content: ""
		position: absolute
		top: 9px
		right: -50px
		+arr(50,123,#829d42,r)
.work__consultant-title
	font-size: 18px
	line-height: 20px
	text-shadow: 1px 1px #6d8436
.work__consultant-item
	margin-top: 10px
	line-height: 15px

.course
	border: 1px solid #fff
	margin-top: 30px
	padding: 15px 37px
	+clr
.course__usd,
.course__euro
	position: relative
	float: left
	width: 50%
	img
		float: left
.course__euro img
	margin-top: 3px
.course__up,
.course__down
	position: absolute
	top: 17px
	left: 28px
.course__up
	+arr(9,6,#829d42,t)
.course__down
	+arr(9,6,#ec2d13,b)
.course__profit
	display: inline-block
	margin-left: 30px
.course__item
	font-size: 15px
	line-height: 20px
.course__item-up
	color: #829D42
.course__item-down
	color: #EC2D13

.finance__liga
	position: relative
	margin: 25px 0
.finace__liga-wrap
	position: absolute
	top: 43px
	left: 60px
.fin__consalt
	+clr
.fin__consalt-masanger,
.fin__consalt-tel
	width: 50%
	float: left
	color: #FFF
	margin-top: 5px
	font-size: 12px
	a
		position: relative
		display: inline-block
		color: #000
.fin__consalt-masanger
	a
		&:last-child
			margin-left: 20px
.skype_small
	position: absolute
	top: 2px
	left: -20px
	width: 12px
	height: 11px
	background-image: url("../img/skype_small.png")
.soc
	float: right
	margin-top: 30px
	+clr
.tabex
	position: relative
	margin-top: 50px
.tabex__title
	position: relative
	top: -30px
	max-width: 150px
	background-color: #FFF
	border: 1px solid #d8d6d6
	border-bottom: 1px solid transparent
	overflow: hidden
	text-wrap: nowrap
	-ms-text-overflow: ellipsis
	text-overflow: ellipsis
	margin: 0px auto 0 auto
	padding: 5px 10px
	height: 20px
	border-radius: 15px 15px 5px 5px


.tabex__item
	background-color: #FFF
	border: 1px solid #d8d6d6
	border-bottom: 1px solid transparent
	&:last-child
		border-bottom: 1px solid #d8d6d6
.tabex__link
	display: block
	color: #797979
.tabex__wrap
	display: none
	width: 210px
	margin: 0 auto
	position: relative
	img
		margin: -15px 0 15px 0
.tabex__wrap.is-active
	display: block

.aside
	width: 300px
	float: right
	margin-top: 30px
	+clr


// ##########################


.content
	width: 652px
	float: left
	margin-top: 30px
	+clr
.content__title
	text-transform: uppercase
	color: #303030
	float: left
.content__button
	position: relative
	float: right
.content__but
	background-color: #65ABE6
	height: 30px
	width: 160px
	color: #fff
	border-bottom: 3px solid darken(#65ABE6, 40%)
	-webkit-border-radius: 3px
	border-radius: 3px
	cursor: pointer
.content__but+.green__line
	@extend .green__line
	z-index: 3
.content__wrap
	margin-top: 30px
	+clr
.question
	max-height: 195px
	-webkit-box-shadow: inset 0 -10px 10px 0px rgba(255,255,255,.5)
	box-shadow: inset 0 -10px 10px 0px rgba(255,255,255,.5)
.question__title a
	color: #3375B1
	font-size: 17px
	line-height: 20px
.question_user
	float: left
	margin-top: 10px
	color: #75922E
	border-bottom: 1px solid #75922E
	&:hover
		border-bottom: 1px solid transparent
.question__date
	display: block
	margin: 10px 0 0 5px
	color: #99A0A1
.question__answer
	margin-top: 16px
	color: #474747
	font-size: 15px
	line-height: 20px
.question__more
	@extend .question_user
	border-bottom-style: dashed
	margin-bottom: 25px
.pages
	float: left
	margin-top: 30px
	+clr
	&__item
		margin-left: 5px
		display: inline-block
		&:first-child
			margin-left: 0
	&__link
		display: inline-block
		color: #75922E
		font-size: 15px
		line-height: 20px
		border-bottom: 1px solid #75922E
		&:hover
			border-bottom: 1px solid transparent