// MAIN

.main
	background-image: url("../img/main_bg.png")
	> .out
		padding: 30px
	+clr
.menu
	position: relative
	background-color: #ABC765
	border-bottom: 8px solid #92AA5A
	+clr
	&__item
		position: relative
		display: inline-block
		.is-active
			background-color: #92b244
	&__link
		display: block
		font-size: 17px
		color: #fff
		line-height: 26px
		padding: 19px 17px 9px 17px
		&:hover
			background-color: #92B244
		.home
			position: relative
			display: inline-block
			top: 3px
			left: 2px
			width: 25px
			height: 19px
			background-image: url("../img/home.png")
		.triagle
			position: absolute
			top: 27px
			right: 20px
			width: 11px
			height: 10px
			background-image: url("../img/menu__triagle.png")
.pr20
	padding-right: 40px
.green__line
	position: absolute
	top: 2px
	left: 0
	right: 0
	height: 1px
	background-color: #bed783
	z-index: 99

.submenu
	display: none
	position: absolute
	top: 53px
	border-bottom: 9px solid #829d42
	z-index: 999
	&__link
		@extend .menu__link
		width: 257px
		position: relative
		line-height: 19px
		background-color: #92b244
		z-index: 3
		&:hover
			background-color: lighten(#92B244, 10%)
		&:before,
		&:after
			content: ""
			position: absolute
			top: 0px
			left: 0
			right: 0
			height: 1px
			background-color: #92aa5a
		&:after
			top: 1px
			background-color: #a8c26b
.menu__item:hover
	background-color: #92B244
	> .submenu
		display: block

// ################
//SLIDER

.slider
	width: 980px
	height: 310px
	margin-bottom: 50px
	overflow: hidden
	+box-shadow(0px 44px 100px -60px #000)
	// &__spin
	// 	float: left
	// 	border: 5px solid #fff
	// 	img
	// 		width: 675px
	// 		height: 298px


.slider__wrap
	z-index: 9
	width: 685px
	height: 310px
	overflow: hidden
	float: left
	position: relative

.slider__wrap ul,
.slider__wrap li
	padding: 0
	margin: 0
	list-style-type: none

.slider__wrap ul
	width: 9999px

.slider__wrap ul li
	list-style-type: none
	// float: left
.slider__wrap img
	border: 5px solid #fff


.slider__wrap .nav
	position: absolute
	left: 15px
	bottom: 12px

.slider__wrap .nav span
	opacity: 0.9
	background: #fff
	margin: 0 8px 0 0
	width: 16px
	height: 16px
	border-radius: 8px
	cursor: pointer
	overflow: hidden
	float: left
	box-shadow: 0 1px 2px #000

.slider__wrap .nav span.on
	background: #2e9419




.insurance
	float: right
	width: 295px
	background-color: #7FC0EB
	+clr
.insurance__link
	position: relative
	display: block
	height: 77px
	&:before,
	&:after
		content: ""
		position: absolute
		top: 0
		left: 0
		right: 0
		height: 1px
		background-color: #9BD3F6
	&:after
		top: 76px
		background-color: #6AA9D9
	&:hover
		background-color: darken(#7FC0EB,10%)
.insurance__shadow
	position: absolute
	bottom: 0
	right: 30px
	width: 230px
	height: 49px
	background-image: url("../img/ins__shadow.png")
	z-index: 2
.insurance__link-right
	position: relative
	float: right
	width: 194px
	color: #FFF
	z-index: 4
.insurance__link-left
	position: relative
	width: 101px
	height: 77px
	float: left
	z-index: 4
	i
		position: absolute
		top: 24px
		left: 36px
	.kasko
		width: 26px
		height: 29px
		background-image: url("../img/kasko.png")
	.libre
		width: 30px
		height: 28px
		background-image: url("../img/libre.png")
	.calc
		width: 24px
		height: 28px
		background-image: url("../img/calc.png")
	.cred
		width: 28px
		height: 29px
		background-image: url("../img/cred.png")
.insurance__title
	font-size: 17px
	font-weight: bold
	text-transform: uppercase
	margin-top: 8px
	line-height: 29px
	+text-shadow(0 1px 0 rgba(0,0,0,.31))
.insurance__item
	font-size: 15px
	font-style: italic
	line-height: 15px

//BANER

.baner
	position: relative
	width: 925px
	height: 110px
	margin: 0 0 55px 30px
	padding: 14px 0 12px 15px
	color: #75922E
	background-color: #FFF
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box
	+box-shadow(0px 30px 30px -32px #000)
	&:before
		content: ""
		position: absolute
		top: 0
		left: -17px
		width: 0
		height: 0
		border-style: solid
		border-width: 0 0 110px 17px
		border-color: transparent transparent #fff transparent
	&:after
		content: ""
		position: absolute
		top: 0
		right: -17px
		width: 0
		height: 0
		border-style: solid
		border-width: 110px 17px 0 0
		border-color: #fff transparent transparent transparent
.strel__prev,
.strel__after
	position: absolute
	top: 44%
	width: 20px
	height: 18px
	background-image: url("../img/st_l.png")
.strel__prev
	left: -40px
.strel__after
	right: -37px
	background-image: url("../img/st_r.png")



.baner__company
	position: relative
	float: left
	width: 170px
	padding-left: 40px
	margin-right: 20px
	&:hover
		.baner__h4,
		.baner__propose,
		.baner__propose p
			border-bottom: 1px solid transparent
			-webkit-transition: all .15s
			-moz-transition: all .15s
			-ms-transition: all .15s
			-o-transition: all .15s
			transition: all .15s
	&:last-child
		margin-right: 0
	img
		position: absolute
		top: 0px
		left: 0px
		width: 35px
		height: 36px
		border: 1px solid #D1D3D4
.baner__company-wrap
	display: block
	margin-left: 5px
	min-height: 83px
	overflow: hidden
	-ms-word-wrap: nowrap
	word-wrap: nowrap
	-ms-text-overflow: ellipsis
	text-overflow: ellipsis
.baner__title
	margin-bottom: 10px
.baner__h4
	position: relative
	width: 155px
	font-size: 15px
	display: inline
	color: #75922E
	border-bottom: 1px solid #75922E
.baner__propose
	width: 165px
	max-height: 51px
	white-space: nowrap
	font-size: 13px
	color: #75922E
	overflow: hidden
	-ms-text-overflow: ellipsis
	text-overflow: ellipsis
	p
		display: inline
		border-bottom: 1px solid #75922E
		overflow: hidden
		white-space: nowrap
		-ms-text-overflow: ellipsis
		text-overflow: ellipsis


//####################################
// consultant


.consultant
	position: relative
	width: 930px
	margin: 0 0px 25px 30px
	+clr
.consultant__wrap
	float: left
.consultant__img
	width: 216px
	height: 237px
	margin-right: 14px
	-webkit-border-radius: 10px
	border-radius: 10px
	+box-shadow(0px 16px 11px -19px #000)
	&:last-child
		margin-right: 0
.consultant__all
	border-top: 2px dashed #fff
	margin-bottom: 25px
	padding: 9px 0
	text-align: center
	a
		color: #75922E
		margin: 0 auto
		border-bottom: 1px solid #75922E
		&:hover
			border-bottom: 1px solid transparent
.romb
	margin-bottom: 40px
